*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.0;
    font-weight: normal;
}


/* color pallette */


:root {

--orange: hsl(25, 97%, 53%);

--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 63%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--very-dark-blue: hsl(216, 12%, 8%);

--transparent-effect: hsla(216, 12%, 54%, .15);
--transparent-effect-click: hsla(216, 12%, 54%, .175);

font-size: 15px;

font-family: 'Overpass';

}

body {
    background: var(--very-dark-blue);
}

.main {
    background: var(--dark-blue);
    border-radius: 12.5px;
    padding: 1rem;
    width: 350px;
    margin: 0 auto;
}

.star {
    width: 100%;
    display: flex;
    margin-bottom: 1.25rem;
}

.star-img {
    background: var(--transparent-effect);
    border-radius: 50%;
    background-image: url(./images/icon-star.svg);
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}

.text {

}

h1 {
    color: var(--white);
    margin-bottom: 1.25rem;
}

p {
    color: var(--medium-grey);
    width: 31.5ch;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

.rating {
    height: 40%;
}

.selection {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.selection div {
    display: flex;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--light-grey);
}

.selection button {
    border-radius: 50%;
    border: none;
    background: var(--transparent-effect);
}

.selection button:hover {
    background: var(--light-grey);
    cursor: pointer;
}

.selection button:active {
    background-color: (--orange);
}

.selection div p {
    display: inline-block;
    line-height: 54px;
    font-weight: 700;
}

.button-container {
    height: 50%;
}

.button-container button {
    background: var(--orange);
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--white);
    font-size: 1.25rem;
    padding: 1rem;
    width: 100%;
}

.button-container button:hover {
    background: var(--white);
    color:var(--orange);
    cursor: pointer;
}



